{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Luke Woods' To-Do App</h1>
    <p class="lead">To-Do app to organise your day.</p>
  </div>

  <form action="/add_new" method="POST" class="form-example">
    <div class="form-example">
      <label for="title">Enter new To-Do item: </label>
      <input type="title" name="title" id="title" required>
    </div>
    <div class="form-example">
      <input type="submit" id="addnew" class="btn btn-dark" value="Add To-Do item!">
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <table class="table table-bordered">
          <thead class="thead-light">
          <tr>
            <th scope=col>ID</th>
            <th scope=col>Title</th>
            <th scope=col>Status</th>
            <th scope=col>Mark as complete</th>
            <th scope=col>Delete</th>
          </tr>
          </thead>
          <form action="/update" method="POST" class="form-example">
          {% for item in items %}
          <tr>
            <th scope=row>{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>{{item.status}}</td>
            <td><input type="checkbox" name="updatecheck_{{item.id}}" />&nbsp;</td>
            <td><input type="checkbox" name="removecheck_{{item.id}}" />&nbsp;</td>
          </tr>
          {% endfor %}
        </table>  
      </ul>
    </div>
    <div class="form-example">
      <input type="submit" id="submit" class="btn btn-dark" value="Submit">
    </div>
    </form>
  </div>
  
{% endblock %}